img{
    width: 100%;
}

.card {
    min-height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    border-radius: 5px;
    text-align: center;
}

.img-holder {
    padding: 20px;
}

.card button {
    margin:0;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(255, 193, 78);
    transition: all 0.3s ease-in;
}

.card button:hover{
    background-color: orange;
    cursor: pointer;
}

button p {
    margin: 10px;
}