img{
    width: 100%;
}

.card {
    height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    position: relative;
    border-radius: 5px;
}

.img-holder {
    padding: 20px;
}

.card button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: 0;
    background-color: rgb(255, 193, 78);
    transition: all 0.5 ease-in;
    border-radius: 0 0 5px 5px;
}

.card button:hover{
    background-color: orange;
}

button p {
    margin: 10px;
}